<div class="comparison-item">
    <div class="comparison-head center">
        <h1 class="comparison-title center">{{ name }}</h1>
        <img class="comparison-icon" src="{{ icon }}" />
    </div>
    <div class="comparison-criterion">
        <p class="comparison-text center">
            <span class="comparison-big">${{ price }}</span>per pound
        </p>
    </div>
    <div class="comparison-criterion">
        <h3 class="criterion-title">Protein Content</h3>
        <div class="center">
            <div class="comparison-graphic">
                <img class="comparison-graph graphic-image" src="{{ graphSRC }}" />
                <span class="comparison-text graphic-caption">{{ protein }}gr per 100gr</span>
            </div>
        </div>
    </div>
    <div class="comparison-criterion">
        <h3 class="criterion-title">Environment</h3>
        <h4>Carbon Emission</h4>
        <p class="comparison-text center">
            <span class="comparison-big">{{ carbon }}</span>kg
        </p>
    </div>
</div>
